<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="titulo">
        <h1> Pagina de Inicio </h1>
    </div>
    <div class="contenido">
        <p>
            contenido de la pagina
        </p>
         <button></button>
        <button>enviar</button>
         <button>enviarasasda</button>
        <h5> Pagina de Inicio </h5>
        <h5> Pagina de Inicio </h5>
    </div>
    <div class="footer">
        todos los derechos reservados 2025
       
    </div>
</body>
</html>