<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="titulo">
           
        <h1> Tienda online </h1>
         
     <div class="menu">
         {{#each menu}}
            <button class="boton">{{ this.nombre }}</button></button>
            {{/each}}
    </div>
     </div>   
    <div class="footer">
        todos los derechos reservados ©2025
       
    </div>
</body>
</html>